@import url('https://fonts.googleapis.com/css2?family=Allura&family=Great+Vibes&family=Playwrite+IE:wght@100..400&family=Poppins:wght@400;700&display=swap');

@import "tailwindcss";

@theme {
  --font-customSans: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --font-customCursive: "Great Vibes", cursive;
  --font-headers: "Allura", cursive;
  --font-playwrite: 'Playwrite IE', cursive;

  --color-primary: #5d60c1;
  --color-dark: #1e1e1e;
  --color-light: #f5f5f5;
  --color-lightBlue: #dbedf7;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
     background: #ABB7E2;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 16px;
     border: 2px solid #ABB7E2;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #3b3d7b;
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary) #ABB7E2;;
  }
}

@layer components {
  .footer__headers {
    @apply text-2xl font-light uppercase mb-6
  }
}
